<div class='container'>
	<div class='content box'>
		<div class='content-title'>
			<img src='/icons/bx-money.svg' alt='history-logo' />
			<h2>Total Penalty Fee</h2>
		</div>
		<div class='content-body'>
			<p>{{response.message}} ${{response.total}}</p>
			<br />
			<a href='/'>RETURN</a>
		</div>
	</div>
</div>