:root {
    font-family: 'Raleway';
    font-size: 16px;
    letter-spacing: 1px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background: rgb(220, 220, 220);
    margin: 0;
    padding: 0;
}

.box {
    background: white;
    padding: 1rem;
    margin: 0.5rem 1rem;
    border-radius: 10px;
}

.header {
    display: flex;
    align-items: center;
}
.header img {
    width: 32px;
    height: 32px;
    margin-right: 1rem;
}
.header h1 {
    letter-spacing: 2px;
    font-size: 32px;
    text-transform: uppercase;
}
h2 {
    letter-spacing: 2px;
    font-size: 24px;
    text-transform: uppercase;
}
.content-title {
    display: flex;
    align-items: center;
}
.content-title img {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}
.dyn-table {
    border: 2px solid black;
}
.dyn-table tr th {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 1rem;
    background: rgb(230, 230, 230);
}
.dyn-table tr td {
    text-align: center;
    padding: 1rem;
}
.dyn-table tr:nth-child(even) {
    background: rgb(240, 240, 240);
}
.red {
    background: rgb(209, 75, 75);
    font-weight: bold;
    color: white;
}
.green {
    background: rgb(79, 163, 79);
    font-weight: bold;
    color: white;
}
.footer-title {
    display: flex;
    align-items: center;
}
.footer-title img {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}
.footer-content form input {
    text-align: center;
    letter-spacing: 1px;
    padding: 1rem;
}
.content-body p {
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
}
.content-body a {
    letter-spacing: 1px;
    text-align: center;
}